body{
    background-color: darkturquoise;
    background-image:url() ;
    background-repeat: no-repeat;
    background-size: cover;
}
.fel{
    text-align: center;
    font-size: 20px;
    background-color: darkgoldenrod;
}
.le{
    text-align: center;
    font-size: 20px;
}